{% extends "base.html.twig" %}
{% block title %}App:blog:author{% endblock %}
{% block body %}
<div class="container">
    <div class="blog-header">
        <h1 class="blog-title">Author</h1>
        <p class="lead blog-description">A brief look into the author.</p>
    </div>
    <div class="row">
        <div class="col-sm-8 blog-main-author">
            <div class="blog-post">
                <h2 class="blog-post-title">{{ author.name|raw }}</h2>
                <p>Title: {{ author.title|raw }}</p>
                <p>Company: {{ author.company|raw }}</p>
                <p>Short Biography: {{ author.shortBio|raw }}</p>
                <p>Phone : {{ author.phone }}</p>
                <p>Facebook : {{ author.facebook }}</p>
                <p>Twitter: {{ author.twitter }}</p>
                <p>Github: {{ author.github }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}