<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <!-- Custom CSS File -->
    <link href="/css/style.css" rel="stylesheet" type="text/css"/>
    {% for message in app.flashes('error') %}
    <div class="flash-notice">
        {{ message }}
    </div>
{% endfor %}
        <ul class='test' >
                <li><h1 class="blog-title">Blog Example</h1></li>
                <li><a href="{{ path("homepage") }}">Home</a></li>
                {% if app.user %}
                <li><a href="{{ path("admin_index") }}">Admin</a></li>
                <li><a href="{{ logout_url("secured_area") }}">Logout</a></li>
                {% endif %}
                {% if not app.user %}<li class="active"><a href="/connect/auth0">Login</a></li>{% endif %}
                <li>
                <p>
                {% if app.user %}
                You are logged in as {{ app.user.username }}.
                {% endif %}
                </p>
                </li>
        </ul>
    </div>
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>